@import "~bootstrap/scss/bootstrap";
@import "Scrollbar.scss";

// Plette from https://flatuicolors.com/palette/defo
$foreground: #3498db;
$border-color: #2980b9;
$midground: #85b7e9;

$foreground-light: #bdc3c7;
$border-color-light: #95a5a6;

$background: #ecf0f1;

$green: #27ae60;
$gray: #616161;
$blue: #007bff;

body {
	background-color: $background;
	padding-bottom: 1em;

	.page-elt {
		margin-top: 0.5em;
	}
	.pane {
		background-color: $foreground;
		border: 3px solid $border-color;
		border-radius: 10px;

		&.light {
			background-color: $foreground-light;
			border-color: $border-color-light
		}

		padding: 25px;
	}

	.phonix > h1 {
		margin-bottom: 0;
		font-family: "Courier New", Courier, monospace;
		cursor: pointer;

		a {
			color: inherit;
			text-decoration: inherit;
		}
	}

	.game-list {
		.disabled-row:hover {
			background-color: $foreground-light;
		}
		.selected-row {
			font-weight: bold;
		}
	}

	.nickname-pane {
		input {
			border: hidden;
			border-radius: 5px;
			background-color: $midground;
		}
	}

	.login-pane {
		.red-text {
			color: red;
		}

		.login-btn {
			margin-top: 1em;
		}
	}

	.lobby-info {
		text-align: center;
		height: auto;
		min-height: 7em;

		a,.link {
			color: $background;
			font-weight: bold;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}

		@include media-breakpoint-up('sm') {
			margin-right: 0.5em;
		}
	}

	.player-pane {
		padding-top: 1em;
		padding-left: 0.25em;
		padding-right: 0.25em;

		@include media-breakpoint-up('md') {
			margin-right: 0.5em;
		}
		@include media-breakpoint-down('sm') {
			margin-bottom: 0.5em;
		}

		.player-info {
			font-size: 1.2em;

			.player-name {
				.host-icon {
					margin-right: 0.25em;
				}

				width: 85%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.player-score {
				font-weight: bold;
			}
			
			&.disconnected {
				color: $gray;
			}

			&.winner {
				font-weight: bold;
				color: $green;
			}
		}
	}

	.lobby-buttons {
		button {
			margin-left: 1em;
			margin-right: 1em;
			height: 2.5em;
		}
	}
	
	.action-buttons {
		padding-top: 0.25em;
		@include media-breakpoint-down('xs') {
			padding-top: 0.5em;
		}

		@include media-breakpoint-up('sm') {
			width: 7.1em;
			padding-left: 0;
			padding-right: 0;
			margin-left: 0.5em;
		}

		.action-button {
			@include media-breakpoint-up('sm') {
				margin-bottom: 0.25em;
			}
			@include media-breakpoint-down('xs') {
				margin-right: 0.5em;
			}

			> button {
				float: right;
				width: 7.5em;

				@include media-breakpoint-down('xs') {
					.wide {
						width: 14em;
					}
				}
			}

			padding-left: 0;
			padding-right: 0;
		}
	}

	.game-area {
		min-height: 500px;

		.help-icon {
			position: absolute;
			bottom: 0.5em;
			right: 0.75em;
		}

		input {
			border: hidden;
			border-radius: 5px;
		}

		.sound-player {
			margin-bottom: 2em;
		}

		.game-info {
			font-size: 1em;
			font-weight: bold;
			
			@include media-breakpoint-down('xs') {
				margin-bottom: 0.25em;
			}

			.timer {
				float: right;
			}
		}

		.vote-table {
			.voted {
				border: 1px solid black;
			}

			.correct-guess {
				color: $green;
				font-weight: bold;
			}

			.vote-count {
				float: right;
			}
		}
	}

	.chat-pane {
		svg {
			cursor: pointer;
		}

		.collapse-btn {
			width: 100%;
			height: 1em;
			margin-bottom: 0.75em;
		}

		&.collapsed {
			padding-left: 0.25em;
			padding-right: 0.25em;

			@include media-breakpoint-down('md')  {
				padding-top: 0.25em;
				padding-bottom: 0.25em;
			}
		}

		@include media-breakpoint-up('lg')  {
			margin-left: 0.5em;
		}
		@include media-breakpoint-down('md')  {
			padding-top: 0.5em;
			margin-top: 0.5em;
		}

		span {
			height: 100%;
			display: flex;
			flex-flow: column;
		
			.chat-box {
				min-height: 150px;
				flex-grow: 1;
				background: white;
				padding: 0.25em;

				.msg {
					max-width: 180px;
					clear: both;
					word-break: break-all;

					.name {
						font-weight: bold;
						display: inline;
					}

					&.self-msg {
						float: right;
						text-align: right;
					}
				}
			}

			.chat-box, .message-box {
				border: 1px solid black;
			}

			.chat-box {
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}
			.message-box {
				border-top: none;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}
		}
	}

	.admin-left-col {
		padding-left: 0;
		padding-right: 0;
		
		@include media-breakpoint-up('xl')  {
			margin-right: 0.5em;
		}
		margin-bottom: 0.5em;

		.add-edit-pane {
			height: auto;
			min-width: 250px;

			.loading-icon {
				margin-left: 0.5em;
			}

			.cancel-edit {
				cursor: pointer;
				margin-right: 0.25em;
			}
		}
	}

	.sound-pane {
		.table-scroll {
			overflow-x: scroll;
		}

		.audio-player {
			height: 2em;

			// TODO: Better looking mini player
			@include media-breakpoint-down('sm') {
				width: 20px;
			}
		}

		min-height: 500px;

		.edit-sound {
			cursor: pointer;
		}

		.delete-sound {
			cursor: pointer;
		}
	}
}
