@import "~bootstrap/scss/bootstrap";

// Plette from https://flatuicolors.com/palette/defo
$foreground: #3498db;
$border-color: #2980b9;
$midground: #85b7e9;

$foreground-light: #bdc3c7;
$border-color-light: #95a5a6;

$background: #ecf0f1;

$green: #27ae60;

body {
	background-color: $background;
	.page-elt {
		margin-top: 0.5em;
	}
	.pane {
		background-color: $foreground;
		border: 3px solid $border-color;
		border-radius: 10px;

		&.light {
			background-color: $foreground-light;
			border-color: $border-color-light
		}

		padding: 25px;
	}

	.phonix > h1 {
		margin-bottom: 0;
		font-family: "Courier New", Courier, monospace;
	}

	.game-list {
		.disabled-row:hover {
			background-color: $foreground-light;
		}
		.selected-row {
			font-weight: bold;
		}
	}

	.nickname-pane {
		input {
			border: hidden;
			border-radius: 5px;
			background-color: $midground;
		}
	}

	.lobby-info {
		text-align: center;
		height: auto;
		min-height: 7em;

		a,.link {
			color: $background;
			font-weight: bold;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}

		@include media-breakpoint-up('sm') {
			margin-right: 0.5em;
		}
	}

	.player-pane {
		@include media-breakpoint-up('md') {
			margin-right: 0.5em;
		}
		@include media-breakpoint-down('sm') {
			margin-bottom: 0.5em;
		}

		.player-info {
			font-size: 1.2em;

			.player-score {
				font-weight: bold;

				&.winner {
					color: $green;
				}
			}

			&.winner {
				font-weight: bold;
				color: $red;
			}
		}
	}

	.lobby-buttons {
		button {
			margin-left: 1em;
			margin-right: 1em;
			height: 2.5em;
		}
	}
	
	.action-buttons {
		padding-top: 0.25em;
		@include media-breakpoint-down('xs') {
			padding-top: 0.5em;
		}

		@include media-breakpoint-up('sm') {
			width: 7.1em;
			padding-left: 0;
			padding-right: 0;
			margin-left: 0.5em;
		}

		.action-button {
			@include media-breakpoint-up('sm') {
				margin-bottom: 0.25em;
			}
			@include media-breakpoint-down('xs') {
				margin-right: 0.5em;
			}

			> button {
				float: right;
				width: 7.5em;
			}

			padding-left: 0;
			padding-right: 0;
		}
	}

	.game-area {
		min-height: 500px;

		.help-icon {
			position: absolute;
			bottom: 0.5em;
			right: 0.75em;
		}

		input {
			border: hidden;
			border-radius: 5px;
		}

		.sound-player {
			margin-bottom: 2em;
		}

		.game-info {
			font-size: 1em;
			font-weight: bold;
			.timer {
				float: right;
			}
		}

		.vote-table {
			.voted {
				border: 1px solid black;
			}

			.correct-guess {
				color: $green;
				font-weight: bold;
			}

			.vote-count {
				float: right;
			}
		}
	}
}
